<h2><font color="#004D7F" size=6>Módulo 2. Análisis de datos</font></h2>



<h1><font color="#004D7F" size=5>2. Estadística descriptiva</font></h1>

<br><br>
<div style="text-align: right">
<font color="#004D7F" size=3>Myller Montesino Monterroza: </font><br>
<font color="#004D7F" size=3>Machine Learning con Python</font><br>

---

<h2><font color="#004D7F" size=5>Índice</font></h2>
<a id="indice"></a>

* [1. Introducción](#section1)
    * [1.1. Cargar el conjunto de datos](#section11)
* [2. Funciones de estadística descriptiva](#section2)
    * [2.1. Revisar los datos: _head()_](#section21)
    * [2.2. Dimensiones de los datos: _shape_](#section22)
    * [2.3. Tipo de datos: _dtypes_](#section23)
    * [2.4. Resumen: _describe()_](#section24)
    * [2.5. Distribución entre clases: _groupby('class').size()_](#section25)
    * [2.6. Correlaciones: _corr()_](#section26)
    * [2.7. Asimetría: _skew()_](#section27)

In [1]:
# Permite ajustar la anchura de la parte útil de la libreta (reduce los márgenes)
from IPython.core.display import display, HTML
display(HTML("<style>.container{ width:98% }</style>"))

C:\Users\MI PC\AppData\Local\Temp\ipykernel_18520\1126351303.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

---

<a id="section1"></a>
# <font color="#004D7F"> 1. Introducción</font>

Unos de los errores principales que se cometen cuando se comienza a trabajar con machine learning es tomar decisiones directamente a través de los algoritmos sin un análisis previo del conjunto de datos a trabajar. Es importante que entendamos que, un análisis de datos y un buen preprocesamiento de los mismos antes de realizar un tratamiento de modelado, nos llevará no solamente a obtener mejores y más confiables resultados, sino que entenderemos a la perfección nuestro conjunto de datos dando una gran experiencia en el tiempo en la fase de análisis y tratamiento de datos.

<a id="section11"></a>
## <font color="#004D7F">1.1. Cargar el conjunto de datos</font>

Para esta práctica vamos a cargar el conjunto de datos de Pima Indian Diabetes para hacer observaciones con las funciones de estadística descriptiva.

In [40]:
import pandas as pd

df = pd.read_csv('data/countries.csv', sep=';')
df

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.000,Andorra la Vella,EU,EUR,Euro,NaN,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,"82,880.000",Abu Dhabi,AS,AED,Dirham,NaN,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,NaN,NaN,.ae
2,AF,AFG,"647,500.000",Kabul,AS,AFN,Afghani,NaN,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,NaN,NaN,.af
3,AG,ATG,443.000,St. John's,NaN,XCD,Dollar,NaN,AC,3576396,en-AG,Antigua and Barbuda,NaN,28,+1-268,86754,NaN,NaN,.ag
4,AI,AIA,102.000,The Valley,NaN,XCD,Dollar,NaN,AV,3573511,en-AI,Anguilla,NaN,660,+1-264,13254,NaN,NaN,.ai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,ZA,ZAF,"1,219,912.000",Pretoria,AF,ZAR,Rand,NaN,SF,953987,"zu,xh,af,nso,en-ZA,tn,st,ts,ss,ve,nr",South Africa,"ZW,SZ,MZ,BW,NA,LS",710,27,49000000,####,^(\d{4})$,.za
248,ZM,ZMB,"752,614.000",Lusaka,AF,ZMW,Kwacha,NaN,ZA,895949,"en-ZM,bem,loz,lun,lue,ny,toi",Zambia,"ZW,TZ,MZ,CD,NA,MW,AO",894,260,13460305,#####,^(\d{5})$,.zm
249,ZW,ZWE,"390,580.000",Harare,AF,ZWL,Dollar,NaN,ZI,878675,"en-ZW,sn,nr,nd",Zimbabwe,"ZA,MZ,BW,ZM",716,263,13061000,NaN,NaN,.zw
250,CS,SCG,"102,350.000",Belgrade,EU,RSD,Dinar,NaN,YI,8505033,"cu,hu,sq,sr",Serbia and Montenegro,"AL,HU,MK,RO,HR,BA,BG",891,381,10829175,#####,^(\d{5})$,.cs
251,AN,ANT,960.000,Willemstad,NaN,ANG,Guilder,NaN,NT,8505032,"nl-AN,en,es",Netherlands Antilles,GP,530,599,300000,NaN,NaN,.an

<div style="text-align: right"> <font size=5>
    <a href="#indice"><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F"></i></a>
</font></div>

---

<a id="section2"></a>
# <font color="#004D7F"> 2. Funciones de estadística descriptiva</font>

La inspección de nuestro conjunto de datos es fundamental para poder entender mejor que técnica utilizar; además, nos ayudará a desarrollar nuestra intuición y hacernos preguntas sobre ellos. Las múltiples perspectivas de sus datos lo desafiarán a pensar en los datos de manera diferente.

<a id="section21"></a>
## <font color="#004D7F">2.1. Revisar los datos: _head()_ </font>

Puede revisar las primeras 20 filas de sus datos utilizando la función `head()` en el DataFrame de Pandas. Puede ver que la primera columna enumera el número de fila, lo cual es útil para hacer referencia a una observación específica.

In [41]:
df.head(20)

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.000,Andorra la Vella,EU,EUR,Euro,NaN,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,"82,880.000",Abu Dhabi,AS,AED,Dirham,NaN,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,NaN,NaN,.ae
2,AF,AFG,"647,500.000",Kabul,AS,AFN,Afghani,NaN,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,NaN,NaN,.af
3,AG,ATG,443.000,St. John's,NaN,XCD,Dollar,NaN,AC,3576396,en-AG,Antigua and Barbuda,NaN,28,+1-268,86754,NaN,NaN,.ag
4,AI,AIA,102.000,The Valley,NaN,XCD,Dollar,NaN,AV,3573511,en-AI,Anguilla,NaN,660,+1-264,13254,NaN,NaN,.ai
5,AL,ALB,"28,748.000",Tirana,EU,ALL,Lek,NaN,AL,783754,"sq,el",Albania,"MK,GR,ME,RS,XK",8,355,2986952,NaN,NaN,.al
6,AM,ARM,"29,800.000",Yerevan,AS,AMD,Dram,NaN,AM,174982,hy,Armenia,"GE,IR,AZ,TR",51,374,2968000,######,^(\d{6})$,.am
7,AO,AGO,"1,246,700.000",Luanda,AF,AOA,Kwanza,NaN,AO,3351879,pt-AO,Angola,"CD,NA,ZM,CG",24,244,13068161,NaN,NaN,.ao
8,AQ,ATA,"14,000,000.000",NaN,AN,NaN,NaN,NaN,AY,6697173,NaN,Antarctica,NaN,10,NaN,0,NaN,NaN,.aq
9,AR,ARG,"2,766,890.000",Buenos Aires,SA,ARS,Peso,NaN,AR,3865483,"es-AR,en,it,de,fr,gn",Argentina,"CL,BO,UY,PY,BR",32,54,41343201,@####@@@,"^[A-Z]?\d{4}[A-Z]{0,3}$",.ar
10,AS,ASM,199.000,Pago Pago,OC,USD,Dollar,NaN,AQ,5880801,"en-AS,sm,to",American Samoa,NaN,16,+1-684,57881,NaN,NaN,.as
11,AT,AUT,"83,858.000",Vienna,EU,EUR,Euro,NaN,AU,2782113,"de-AT,hr,hu,sl",Austria,"CH,DE,HU,SK,CZ,IT,SI,LI",40,43,8205000,####,^(\d{4})$,.at
12,AU,AUS,"7,686,850.000",Canberra,OC,AUD,Dollar,NaN,AS,2077456,en-AU,Australia,NaN,36,61,21515754,####,^(\d{4})$,.au
13,AW,ABW,193.000,Oranjestad,NaN,AWG,Guilder,NaN,AA,3577279,"nl-AW,es,en",Aruba,NaN,533,297,71566,NaN,NaN,.aw
14,AX,ALA,"1,580.000",Mariehamn,EU,EUR,Euro,FI,NaN,661882,sv-AX,Aland Islands,NaN,248,+358-18,26711,#####,^(?:FI)*(\d{5})$,.ax
15,AZ,AZE,"86,600.000",Baku,AS,AZN,Manat,NaN,AJ,587116,"az,ru,hy",Azerbaijan,"GE,IR,AM,TR,RU",31,994,8303512,AZ ####,^(?:AZ)*(\d{4})$,.az
16,BA,BIH,"51,129.000",Sarajevo,EU,BAM,Marka,NaN,BK,3277605,"bs,hr-BA,sr-BA",Bosnia and Herzegovina,"HR,ME,RS",70,387,4590000,#####,^(\d{5})$,.ba
17,BB,BRB,431.000,Bridgetown,NaN,BBD,Dollar,NaN,BB,3374084,en-BB,Barbados,NaN,52,+1-246,285653,BB#####,^(?:BB)*(\d{5})$,.bb
18,BD,BGD,"144,000.000",Dhaka,AS,BDT,Taka,NaN,BG,1210997,"bn-BD,en",Bangladesh,"MM,IN",50,880,156118464,####,^(\d{4})$,.bd
19,BE,BEL,"30,510.000",Brussels,EU,EUR,Euro,NaN,BE,2802361,"nl-BE,fr-BE,de-BE",Belgium,"DE,NL,LU,FR",56,32,10403000,####,^(\d{4})$,.be

<a id="section22"></a>
## <font color="#004D7F">2.2. Dimensiones de los datos: _shape_ </font>

Puede revisar la forma y el tamaño de su conjunto de datos imprimiendo la propiedad `shape` en el DataFrame de Pandas. Los resultados se enumeran en filas y luego en columnas. Puede ver que el conjunto de datos tiene 768 filas y 9 columnas

In [42]:
print(df.shape)

(252, 19)

<a id="section23"></a>
## <font color="#004D7F">2.3. Tipo de datos: _dtypes_ </font>

Puede enumerar los tipos de datos utilizados por el DataFrame para caracterizar cada atributo utilizando la propiedad `dtypes`. Puede ver que la mayoría de los atributos son enteros y que `mass` y `pedi` son tipos de coma flotante.

In [43]:
# Data Types for Each Attribute
df.dtypes

alpha_2                 object
alpha_3                 object
area                   float64
capital                 object
continent               object
currency_code           object
currency_name           object
eqivalent_fips_code     object
fips                    object
geoname_id               int64
languages               object
name                    object
neighbours              object
numeric                  int64
phone                   object
population               int64
postal_code_format      object
postal_code_regex       object
tld                     object
dtype: object

<a id="section24"></a>
## <font color="#004D7F">2.4. Resumen: _describe()_ </font>

Puedes ver que obtienes muchos datos. Notará algunas llamadas como `pandas.set_option()` utilizada para cambiar la precisión de los números y el ancho preferido de la salida. Esto es para que sea más legible para este ejemplo. Al describir sus datos de esta manera, vale la pena tomarse un tiempo y revisar las observaciones de los resultados.

In [44]:
# Statistical Summary
df.describe()
df.describe(include='all') # Para incluir todos los tipos de datos

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
count,251,252,252.000,246,210,251,251,1,249,252.000,249,252,165,252.000,247,252.000,154,152,250
unique,251,252,NaN,244,6,155,82,1,249,NaN,246,252,159,NaN,233,NaN,45,54,248
top,AD,AND,NaN,Kingston,AF,EUR,Dollar,FI,AN,NaN,fr,Andorra,US,NaN,599,NaN,#####,^(\d{5})$,.gp
freq,1,1,NaN,2,58,35,56,1,1,NaN,3,1,2,NaN,4,NaN,52,44,3
mean,NaN,NaN,"595,287.856",NaN,NaN,NaN,NaN,NaN,NaN,"2,427,869.984",NaN,NaN,NaN,434.310,NaN,"27,276,790.083",NaN,NaN,NaN
std,NaN,NaN,"1,904,817.773",NaN,NaN,NaN,NaN,NaN,NaN,"1,632,092.925",NaN,NaN,NaN,254.663,NaN,"116,412,698.519",NaN,NaN,NaN
min,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,"49,518.000",NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,NaN
25%,NaN,NaN,"1,098.000",NaN,NaN,NaN,NaN,NaN,NaN,"1,163,774.500",NaN,NaN,NaN,217.000,NaN,"187,952.750",NaN,NaN,NaN
50%,NaN,NaN,"64,894.500",NaN,NaN,NaN,NaN,NaN,NaN,"2,367,967.000",NaN,NaN,NaN,436.000,NaN,"4,268,583.000",NaN,NaN,NaN
75%,NaN,NaN,"362,224.500",NaN,NaN,NaN,NaN,NaN,NaN,"3,478,296.250",NaN,NaN,NaN,652.500,NaN,"15,366,875.000",NaN,NaN,NaN
max,NaN,NaN,"17,100,000.000",NaN,NaN,NaN,NaN,NaN,NaN,"8,505,033.000",NaN,NaN,NaN,894.000,NaN,"1,330,044,000.000",NaN,NaN,NaN

<a id="section25"></a>
## <font color="#004D7F">2.5. Distribución entre clases: _groupby('class').size()_ </font>

Puede ver que hay casi el doble de observaciones con la clase 0 (sin aparición de diabetes) que con la clase 1 (aparición de diabetes). En este caso podemos observar que las clases se encuentran desbalanceadas por lo que los tenemos que analizar muy los resultados de los algoritmos.

In [45]:
# Class Distribution
# Problema de clasificación (binaria o multiclase)
df.groupby('name').size()

name
Afghanistan          1
Aland Islands        1
Albania              1
Algeria              1
American Samoa       1
                    ..
Wallis and Futuna    1
Western Sahara       1
Yemen                1
Zambia               1
Zimbabwe             1
Length: 252, dtype: int64

<a id="section26"></a>
## <font color="#004D7F">2.6. Correlaciones: _corr()_ </font>

Puede usar la función `corr()` para calcular una matriz de correlación. La matriz enumera todos los atributos en la parte superior y lateral, para dar correlación entre todos los pares de atributos (dos veces, porque la matriz es simétrica). Puede ver que la línea diagonal a través de la matriz desde las esquinas superior izquierda a inferior derecha de la matriz muestra una correlación perfecta de cada atributo consigo mismo.

In [46]:
# Pairwise Pearson correlations
df.corr(numeric_only=True)

             area  geoname_id  numeric  population
area        1.000       0.120   -0.089       0.413
geoname_id  0.120       1.000    0.039      -0.066
numeric    -0.089       0.039    1.000      -0.041
population  0.413      -0.066   -0.041       1.000

<a id="section27"></a>
## <font color="#004D7F">2.7. Asimetría: _skew()_ </font>

Puede calcular el sesgo de cada atributo utilizando la función `skew()`. El resultado de inclinación muestra una inclinación positiva (derecha) o negativa (izquierda). Los valores más cercanos a cero muestran menos sesgo.

In [47]:
# Skew for each attribute
df.skew(numeric_only=True)

area         5.864
geoname_id   0.989
numeric      0.011
population   9.580
dtype: float64

<div style="text-align: right"> <font size=5>
    <a href="#indice"><i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F"></i></a>
</font></div>

---

<div style="text-align: right"> <font size=6><i class="fa fa-coffee" aria-hidden="true" style="color:#004D7F"></i> </font></div>